<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end">
                    <a href="@Url.Action("Index","Home")">Anasayfa</a>
                    <a href="@Url.Action("Index","Kitap")">Kitaplar</a>
                    <a href="@Url.Action("Index","Kategori")">Kategoriler</a>
                    <a href="@Url.Action("Index","Yazar")">Yazarlar</a>
                    <a href="@Url.Action("Index","YayinEvi")">YayınEvi</a>
                </ul>

                    @*@Html.ActionLink("AnaSayfa", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            @Html.ActionLink("Kitaplar", "Index", "Kitap", new { area = "" }, new { @class = "navbar-brand" })

            @Html.ActionLink("Kategoriler", "Index", "Kategori", new { area = "" }, new { @class = "navbar-brand" })

            @Html.ActionLink("Yazarlar", "Index", "Yazar", new { area = "" }, new { @class = "navbar-brand" })

            @Html.ActionLink("YayinEvi", "Index", "YayinEvi", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.9.1.intellisense.js"></script>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/npm.js"></script>
</body>
</html>